<configuration>
    <system.webServer>
        <handlers>
            <!-- Indicates that the server.js file is a Node.js application to be handled by iisnode -->
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <!-- Redirect all traffic to server.js -->
                <rule name="StaticContent" stopProcessing="true">
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
